*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-color:red ; */
}
#main img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}
#main #part {
    display: flex;
    position: absolute;
    height: 85%;
    width: 85%;
    margin-top: 50px;
    margin-left: 85px;
    background-color: #FFFFFF;
    border-radius: 25px;
}
#main #part #part1{
    display: flex;
    /* position: absolute; */
    height: 97%;
    width: 50%;
    margin-top: 8px;
    margin-left: 8px;
    background-color: #2a1010;
    border-radius: 25px;
    /* justify-content: center; */
    align-items: end;
}
#main #part #part1 img{
    object-fit: cover;
    height: 100%;
    position: relative;
    width: 100%;
    border-radius: 25px
}
#main #part #part1 #ab{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 48%;
    width: 45%;
    margin: 10px; 
    /* background-color: #2a1010; */
}
#main #part #part1 #ab h1{
    font-size: 45px;
    color: #FFFFFF;
    cursor: pointer;
}
#main #part #part1 #ab h1:hover{
   font-size: 60px;
   transform: rotate(-3deg) ;
    transition: ease-in-out 2s;
}
#main #part #part1 #ab h3{
    font-size: 20px;
    color: rgb(177, 177, 176);
}
#main #part #part2{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    height: 97%;
    width: 50%;
    margin-top: 8px;
    margin-left: 8px;
    /* background-color: #2a1010; */
    border-radius: 25px;
}
#main #part #part2 #logo{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(222, 4, 4);
}
#main #part #part2 #logo img{
    height: 100%;
    width: 10%;
    object-fit: contain;
}
#main #part #part2 h1{
    font-size: 35px;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}
#main #part #part2 h5{
    color: rgb(102, 100, 100);
    justify-content: center;
    text-align: center;
    margin-top: 4px;
}
#main #part #part2 h4{
    font-size: 16px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
#main #part #part2 input{
    width: 20vw;
    color:  rgb(102, 100, 100);
    padding-left: 5px;
    height: 4.5vh;
    border-radius: 5px;
}
#main #part #part2 h2{
    /* color: rgb(102, 100, 100); */
    font-size: 16px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-left: -20px;
}
#main #part #part2 input{
    width: 20vw;
    color:  rgb(102, 100, 100);
    padding-left: 5px;
    height: 4.5vh;
    border-radius: 5px;
}
#main #part #part2 h6{
    color:  rgb(102, 100, 100);
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-left: -80px;
}
#main #part #part2 h6 input{
    width: 18px;
    color:  rgb(102, 100, 100);
    padding-left: 5px;
    justify-content: center;
    background-color: #2a1010;
    border-radius: 5px;
}
#main #part #part2 #bx{
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    align-items:end;
    margin-top: 30px;
    margin-left: 40px;
}
#main #part #part2 #bx button{
    width: 20vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin-left: 10vw   ;
}
#main #part #part2 #bx button:hover{
    background-color: #FFFFFF;
    color: black;
    border: solid black;
}
#main #part #part2 #user{
    display: flex;
    color:  rgb(102, 100, 100);
    justify-content: center;
    text-align: center;
    margin-top: 38px;
    margin-left: 45px;
    align-items: center;
    
}
#main #part #part2 #user u{
    text-decoration: none;
    color: black;
}